<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>WICS Comp: {% block title %}{% endblock %}</title>

    </head>

    <body>


       <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top topnav">

          <a href="/"><img src="//static1.squarespace.com/static/543214d2e4b00758e02f8714/t/545982bbe4b0d314814e0211/1574014461904/?format=1500w" class="logo" alt="Harvard Women in Computer Science"></a>

          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link" href="/tracker" >Comp Event Tracker</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/newsletter">Newsletter</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/resources">Resources</a>
            </li>

          </ul>
        </nav>
        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>
    </body>

</html>
